{% extends '::base.html.twig' %}
 
{% block stylesheets %}
<link href="{{ asset('css/estilos.css') }}"
          rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}{% endblock %}
 
{% block body %}
<header>
    <h1><a href="##">Motores Piddo</a></h1>
    <div id="usuario">
        <p></p>
    </div>
</header>
<aside id="derecha">
    {% block aside %}{% endblock %}
</aside>

<article>
    {% block article %}{% endblock %}
</article>
 

{% endblock %}