{% extends '::plantillaRecepcion.html.twig' %}

{% block article %}
<h1>
    Agregar un nuevo cliente
</h1>

<h2>Ingrese los siguientes datos</h2>
<p></p>
{% endblock article %}

{% block aside %}
{% endblock aside %}