{% extends '::plantillaRecepcion.html.twig' %}

{% block title %}
Recepción
{% endblock %}

{% block article %}
<h1>
    Bienvenido "Recepcionista"
</h1>

<h2>Lista de Eventos</h2>
<p>Eventos</p>
{% endblock article %}

{% block aside %}
{% endblock aside %}