{% extends '::base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('bundles/piddo/css/normalizar.css') }}"
          rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}{% endblock %}

{% block title %}Formulario de acceso{% endblock %}
{% block id 'usuario' %}

{% block body %}
    <article>
        {% block article %}
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}  
                
            <form action="{{ path('usuario_login_check') }}" method="post">
                <label for="username">Rut:</label>
                <input type="text" id="username" name="_username"/>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="_password" />

                <input type="submit" name="login" value="Acceder" />
            </form>
        {% endblock %}
    </article>
 
    <aside>

    </aside>
{% endblock %}









 

