{% extends '::plantillaGerencia.html.twig' %}




{% block title %}Registro{% endblock %}
{% block id 'usuario' %}

{% block article %}
<form action="{{ path('usuario_registro') }}" method="post" {{ form_enctype(formulario) }}>
{{ form_widget(formulario) }}
        <input class="boton" type="submit" value="Registrarse" />
</form>
{% endblock %}
