{% extends '::base.html.twig' %}

{% block title %}Página no encontrada{% endblock %}

{% block body %}    
     <h1>Lo sentimos, no encontramos la página que buscas</h1>
     <h2>Puede que la dirección esté mal escrita o que la página que buscas ya no esté disponible</h2>
{% endblock %}