{% extends '::plantillaRepuesto.html.twig' %}
{% block article %}

<h1>
    Universo de Repuestos
</h1>

<p>
    Lista de los repuestos.
</p>

{% endblock article %}

{#% block aside %}
<h1>Información Adicional</h1>
{% endblock aside %#}
