{% extends '::plantillaRepuesto.html.twig' %}
{% block article %}

<h1>
    Lista de Presupuestos
</h1>

<p>
    Ordenados por fecha de creación.
</p>

{% endblock article %}

{% block aside %}
{% endblock aside %}