{% extends '::plantillaRepuesto.html.twig' %}

{% block title %}
Inicio Repuestos
{% endblock title %}

{% block article %}

<h1>
    Repuestos Pendientes
</h1>

{% endblock article %}

{% block aside %}
{% endblock aside %}