{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}
    Piezas > 
    Todas las piezas
{% endblock %}
{% block id 'piezas' %}
 
{% block article %}
    <h1>{{ block('title') }}</h1>
    <section id="formulario_marca">
        <h4>Agregar un Coleccion de Piezas</h4>
        <form action="{{ path('serie_col_piezas',{'marca': marca, 'modelo' : modelo, 'serie': serie })}}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
                <input class="boton" type="submit" value="Guardar" />
        </form>

    </section>

{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}