{# src/Cupon/UsuarioBundle/Resources/views/Default/compras.html.twig #}
{% extends '::plantillaGerencia.html.twig' %}
 
{% block title %}Portada{% endblock %}
{% block id 'portada' %}
 
{% block article %}
    <h1>{{ block('title') }}</h1>
    
{% endblock %}
 
{% block aside %}
    {# ... #}
{% endblock %}